.idea
output
venv
build
__pycache__
.ipynb_checkpoints
.pytest_cache
*.py~
*.pyc
*.egg-info

# Data heavy files
*.json
*.h5
*.npy
*.npz
*.onnx

# mac os
.DS_Store

# test coverage stuff
.coverage
htmlcov
