[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow = "==1.15"
sphinx = "*"
nbsphinx = "*"
m2r = "*"
pandoc = "*"

[packages]
torch = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
